<div class="stream-video-with-text" style="background: {{ prop.background }}">
	<div class="stream-video-with-text-video">
		<video src="{{prop.videoSrc}}" {% if prop.autoplay == 'true' %} autoplay{% endif %}{% if prop.repeat == 'true' %} loop{% endif %} playsinline {% if prop.controls == 'true' %} controls {% endif %}  muted></video>
		<div class="stream-video-with-text-items">
			{% for item in prop.innerElements %}
				<div class="stream-video-with-text-item stream-video-with-text-item-vertical-{{ item.props.vertical }} stream-video-with-text-item-horisontal-{{ item.props.horisontal }}" style="width: {{ item.props.textWidth }}%;">
					<div class="stream-video-with-text-title stream-text-{{ item.props.titleFontSize }}" style="text-align: {{ item.props.textAlign }}; --textalignmobile: {{ item.props.textAlignMobile }}; --titlecolormobile: {{ item.props.titleColorMobile }}; color: {{ item.props.titleColor }}; font-family: {{ prop.titleFontFamily }}; font-weight: {{ prop.titleFontWeight }};">
						{{ item.props.titleContent |striptags('<br>')|raw }}
					</div>
					<div class="stream-video-with-text-description stream-text-{{ item.props.descriptionFontSize }}" style=" text-align: {{ item.props.textAlign }}; --textalignmobile: {{ item.props.textAlignMobile }}; --descriptioncolormobile: {{ item.props.descriptionColorMobile }}; color: {{ item.props.descriptionColor }}; font-family: {{ prop.descriptionFontFamily }}; font-weight: {{ prop.descriptionFontWeight }};">
						{{ item.props.descriptionContent |striptags('<br>')|raw }}
					</div>
				</div>
		{% endfor %}
		</div>
	</div>
</div>
