<div class="stream-button" id="item-{{ id }}" style="background: {{prop.background }}; justify-content: {{ prop.buttonPosition }};">
	 <a href="{{prop.src}}" class="stream-button-button stream-text-{{ prop.fontSize }}" style="font-family: {{ prop.fontFamily }}; font-weight: {{ prop.fontWeight}}; background: {{ prop.buttonBackground }}; color: {{ prop.color }}; border-radius: {{ prop.borderRadius}}px;" target="_blank" download>
      {{ prop.content }}
    </a>
</div>
